@charset "UTF-8";

.alogin{
	background-color:rgba(0,0,0,0);
	width: 50%;
	text-align: center;
}

.alogin:hover{
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
}

/*.alogin:focus{
	background-color: rgba(0,0,0,0.3);
}*/

/*.alogin:active {
	background-color: rgba(0,0,0,0.3);
}*/


.header .layui-nav{
	position: absolute;
	right: 80px;
	top:0px;
	padding:0;
}

.layui-layout-admin .layui-main{
	width:auto;
	margin:0 15px;
}
.layui-main{
	position: relative;
}
.header-demo{
	height:60px;
	border-bottom: none;
}
.header-demo .CMSlogo{
	left:40px
}
.CMSlogo{
	position: absolute;
	top:16px;
}
a{
	color:#333;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

