@CHARSET "UTF-8";

.header .layui-nav{
	position: absolute;
	right:5%;
	top:0px;
	padding:0;
}

.layui-layout-admin .layui-main{
	width:auto;
	margin:0 15px;
}
.layui-main{
	position: relative;
}
.header-demo{
	height:60px;
	border-bottom: none;
}
.header-demo .CMSlogo{
	left:40px;
}
.CMSlogo{
	position: absolute;
	top:16px;
}
a{
	color:#333;
	text-decoration: none;
}

a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


.site-text{
	position: relative;
} 
.site-block{
	padding:20px;
	border:1px solid #d2d2d2;
	margin:5% 10%;
}

/*课程信息表格*/
.sessiontable{
	margin: 0 8%;
}
.sessiontable-th{
	text-align: center;
}


